{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="image/png" href="{% static 'images/logop.png' %}"/>
       <link rel="stylesheet" href="{% static 'css/print.css' %}">
<title>Scyil Softwares</title>
<body>
<div class="bg">
	<div id="v"> <marquee  style="color: red; font-family: Book Antiqua" behavior="alternate" >!! Bill Printed Successfully. !!</marquee></div>
		<br>

	<marquee  style="color: red; font-family: Book Antiqua" behavior="alternate" >Have a nice day</marquee>

	</div>
 </body>
</html>